# {{ ansible_managed }}
[Unit]
Description=Gunicorn instance to serve {{ app_name }}
After=network.target

[Service]
User={{ default_user }}
Group=www-data
WorkingDirectory={{ webhook_app_directory }}
Environment="PATH={{ webhook_env_directory }}/bin"
ExecStart={{ webhook_env_directory }}/bin/gunicorn --workers {{ webhook_workers }} --bind {{ webhook_bind }} -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
