# {{ ansible_managed }}

[Unit]
Description=PostgreSQL Cluster {{ api_db_version }} {{ api_db_cluster_name }}
AssertPathExists=/etc/postgresql/{{ api_db_version }}/{{ api_db_cluster_name }}/postgresql.conf
RequiresMountsFor=/etc/postgresql/{{ api_db_version }}/{{ api_db_cluster_name }} /var/lib/postgresql/{{ api_db_version }}/{{ api_db_cluster_name }}
PartOf=postgresql.service
ReloadPropagatedFrom=postgresql.service
Before=postgresql.service
After=network.target

[Service]
Type=forking
User=cabo
Group=adm
ExecStart=/usr/bin/pg_ctlcluster --skip-systemctl-redirect {{ api_db_version }} {{ api_db_cluster_name }} start
TimeoutStartSec=0
ExecStop=/usr/bin/pg_ctlcluster --skip-systemctl-redirect -m fast {{ api_db_version }} {{ api_db_cluster_name }} stop
TimeoutStopSec=1h
ExecReload=/usr/bin/pg_ctlcluster --skip-systemctl-redirect {{ api_db_version }} {{ api_db_cluster_name }} reload
PIDFile=/var/run/{{ api_user }}/mypostgresql/{{ api_db_version }}-{{ api_db_cluster_name }}.pid
SyslogIdentifier=postgresql@{{ api_db_version }}-{{ api_db_cluster_name }}
OOMScoreAdjust=-900

[Install]
WantedBy=multi-user.target
