# {{ ansible_managed }}

[Unit]
Description=PostgreSQL Cluster {{ api_db_version }} {{ api_db_cluster_name }}
AssertPathExists=/etc/postgresql/{{ api_db_version }}/{{ api_db_cluster_name }}/postgresql.conf
RequiresMountsFor=/etc/postgresql/{{ api_db_version }}/{{ api_db_cluster_name }} {{ api_db_directory }}
PartOf=postgresql.service
ReloadPropagatedFrom=postgresql.service
Before=postgresql.service
Requires=data.mount
After=network.target data.mount

[Service]
Type=forking
User=cabo
Group=adm
ExecStart=/usr/bin/pg_ctlcluster --skip-systemctl-redirect {{ api_db_version }} {{ api_db_cluster_name }} start
TimeoutStartSec=0
ExecStop=/usr/bin/pg_ctlcluster --skip-systemctl-redirect -m fast {{ api_db_version }} {{ api_db_cluster_name }} stop
TimeoutStopSec=1h
ExecReload=/usr/bin/pg_ctlcluster --skip-systemctl-redirect {{ api_db_version }} {{ api_db_cluster_name }} reload
PIDFile={{ api_pid }}
SyslogIdentifier=mypgcluster
OOMScoreAdjust=-900

[Install]
WantedBy=multi-user.target
